{{ define "main" }}
<section>
    <h1>{{ .Title }}</h1>
    <p>{{ .Description }}</p>
    <ul class="article-list">
    {{ range .Paginator.Pages }}
        <li>
            <a href="{{ .RelPermalink }}">
                <h3>{{ .Title }}</h3>
                <p>{{ with .Summary }}{{ . }}{{ else }}{{ .Description }}{{ end }}</p>
                <span class="meta">
                    {{ if .Date }}🕐 {{ .Date.Format "2006-01-02" }}{{ end }}
                </span>
            </a>
        </li>
    {{ end }}
    </ul>
</section>
{{ end }}
